---
layout: default
---

<header class="listheader banner">
	<div class="binner">
		<div class="section searchblock">
			<div class="wrapper wrapper--narrow">
				{% include searchblock.html %}
			</div>
		</div>
		<div class="wrapper wrapper--normal">
			<hr>
			{% include pagination.html %}
		</div>
	</div>
</header>

<section class="torrentlist">
	<div class="wrapper wrapper--normal">
		{% include torrenttable.html %}
	</div>
</section>

<div class="wrapper wrapper--normal">
	{% include pagination.html %}
</div>
