<footer class="pagefooter">
	<div class="wrapper wrapper--normal">
		<div class="pagefooter__copy">
			<a href="#" class="pagefooter__brand">torrent.eval.hu</a>
			<span class="pagefooter__discl">torrent.eval.hu &copy; 2011-2015</span>
			
			<div class="pagefooter__social">
				<a href="#" class="social social--fb"></a>
				<a href="#" class="social social--tw"></a>
			</div>	

		</div>
		<nav class="nav--footer">
			<ul>
				<li><a href="#">Tükörfúrógép</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Dolor</a></li>
				<li><a href="#">Sit amet</a></li>
				<li><a href="#">Árvíztűrő</a></li>
			</ul>
		</nav>
	</div>
</footer>