<section class="torrenttable">
	<header class="torrenttable__header">
	 	<div>Tipus</div>
	 	<div>
	 		Név
	 		<span class="sortarrows">
	 			<a href="#" class="arrow arrow--up"></a>
				<a href="#" class="arrow arrow--down"></a>
	 		</span>
	 	</div>
		<div>
			Méret
			<span class="sortarrows">
	 			<a href="#" class="arrow arrow--up"></a>
				<a href="#" class="arrow arrow--down active"></a>
	 		</span>
	 	</div>
		<div>
			SE
			<span class="sortarrows">
	 			<a href="#" class="arrow arrow--up"></a>
				<a href="#" class="arrow arrow--down"></a>
	 		</span>
	 	</div>
		<div>
			LE
			<span class="sortarrows">
	 			<a href="#" class="arrow arrow--up"></a>
				<a href="#" class="arrow arrow--down"></a>
	 		</span>
	 	</div>
		<div>Letöltés</div>
	</header>

	{% for i in (1..15) %}

		{% include torrentrow.html %}
	
	{% endfor %}

</section><!-- /.torrenttable -->