/*****************
 Color Definitions
 *****************/


/* White */
$white: #fff; //main text color
$prilight: #636d72; //gray text


/* Gray  */
$seclight: #909090; //input placeholder

/* Black */
$black: #000;
$pridark:#12171a; // main background
$secdark:#1a2125; // cat bg, row hover
$tertdark:#333c41; // borders


/* Red */
$highlight:#ff3737; // buttons
$highlight2:#ea2929; // button hover


/*********************
 Breakpoints and width
 *********************/

$s0: 320px;
$s1: 480px;
$s2: 768px;
$s3: 1024px;
$s4: 1280px;
$s5: 1600px;

$narrowmax: 980px;
$normalmax: 1140px;
$widemax: 1360px;


/****************
	Fonts
**************/
$sans-serif:'Proxima Nova';
$museo:'Museo Sans';
