.banner {
	//@include clearfix();
	position: relative;
	background-repeat:repeat, no-repeat, no-repeat;
	background-size: auto, 100% auto, cover;
	background-position: center center;
	background-image: 
	url('../img/pattern.png'),
	radial-gradient(ellipse at center, rgba($pridark,.75) 0%, rgba($pridark,1) 90%),
	url('../img/banner_list.jpg') ;

	background-blend-mode: multiply, normal, normal;

	padding-bottom:2.5em;
	margin-bottom: -2.5em;


	// &:before {
	// 	content:'';
	// 	display: block;
	// 	position: absolute;
	// 	left:0;
	// 	right:0;
	// 	top:0;
	// 	bottom:0;
	// 	z-index: 0;

	// 	background-repeat:repeat, no-repeat, no-repeat;
	// 	background-size: auto, 100% auto, cover;
	// 	background-position: center center;
	// 	background-image: 
	// 	url('../img/pattern.png'),
	// 	radial-gradient(ellipse at center, rgba($pridark,.75) 0%, rgba($pridark,1) 90%),
	// 	url('../img/banner_list.jpg') ;

	// 	background-blend-mode: multiply, normal, normal;
	// 	filter: blur(2px);
	// }
	
}
.pagehead {
	background-color: $pridark;
	.wrapper {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

.pagehead__brand {
	@include hide-text();
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
	display: block;
	height:3em;
	width:18em;
	float:left;
}


.nav--main {
	ul {
		margin:0;
		padding:0;
		list-style-type: none;
		float:right;
	}
	
	li {
		display:inline-block;
		margin-left: 0.25em;
	}

	a {
		color:$white;
		font-weight: 700;
		display: inline-block;
		font-size:0.938em;
		line-height: 1;
		padding:1em 1.5em;
		border:2px solid transparent;
		border-radius:1.666em;
		.active &, &:hover, &:focus {
			color:$highlight;
			border-color:currentColor;
		}
	}


}