/* Head Layout */
.singleheader {
	padding-top:4em;
}

.torrent__details {
	color:#fff;
	@include clearfix();
	@include bp($s2) {
		float:right;
		width:75%;
		padding-left:3em;
	}
}




.torrent__figure {
	margin:0 0;
	padding:0 0;
	@include bp($s2) {
		float:left;
		width:25%;
	}
	
	a {
		display: block;
		padding:.333em;
		background-color: $picsborder;		
		&:hover, &:focus {
			background-color:$secdark;
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;
			
		}
	}

	img {
		display: block;
	}
}

.torrent__params {
	@include bp($s2) {
		float:left;
		width:60%;
		padding-right:3em;
	}
}

.torrent__actions {
	text-align:justify;
	margin-top:2em;
	
	@include bp($s2) {
		float:right;
		width:40%;
		&:after {
			content:'';
			min-height: 1px;
			display: inline-block;
			width:100%;
		}

	}

}
.torrent__headadvert {
	margin:2em 0;
	@include bp($s2) {
		float:right;
		width:40%;
	}
}

.torrent__params {
	display:table;
	margin:2em 0;
	
}


/* Head elements */
.torrent__title {
	font-size: 2.5em;
	line-height: 1;
	margin:0;
}

.torrent__name {
	font-size:1em;
	font-weight:300;
	margin:.5em 0 2em;
}


.paramlist {
	list-style-type:none;
	margin:0 0;
	padding: 0 0;
	line-height:1.563em;
	display:table;
	
	&.parmalist__secondary{

	}
	
	
}

	.paramrow {
		display: table-row;
		&.paramrow--eob {
			span {
				border-bottom: 1px solid $gray;
				padding-bottom:1.75em;
			}

			+ .paramrow {
				span {
					border-top: 1px solid $tertdark;
					padding-top:1.75em;
				}

			}

		}
	}

		.paramrow__name {
			font-weight: 700;
			display: table-cell;
			padding-right:1.5em;
			white-space: nowrap;
		}

		.paramrow__value {
			display: table-cell;
			font-weight: 300;
			a {
				color:$highlight;
				&:hover, &:focus {
					color:$highlight2;
				}
			}
		}


.torrentbody {
	padding:4em 0;
}

.torrentrelated__title {
	position:relative;
	font-size:1em;
	line-height:1;
	margin:0;
	display:block;
	
	&:after {
		//z-index: 0;
		content:'';
		position:absolute;
		left:0;
		top:.5em;
		display: block;
		height: 2px;
		background-color:$gray;
		width:100%;
	}
	span {
		position:relative;
		z-index:1;
		padding-right:.25em;
		background-color:$pridark;
	}

}
.torrentrelated__controls {
	margin-bottom:4em;
	position:relative;
	.buttons {
		position:absolute;
		right:-1px;
		top:-.333em;
	}
	a {
		border:1px solid $tertdark;
		border-radius:50%;
		display: inline-block;
		width:1.75em;
		height: 1.75em;
		text-align: center;
		font-size: 1em;
		line-height: 1.75;
		margin-left:.1em;
		background-color:$secdark;
		background-repeat:no-repeat;
		background-position: center center;
		background-size: .5em auto;
		&:hover,&:focus {
			background-color:$gray;
			border-color:$gray;
		}
		&[rel="prev"] {
			background-image:url('../img/icon_arrowleft.svg');
		}
		&[rel="next"] {
			background-image:url('../img/icon_arrowright.svg');
		}
	}


}

.relatedtorrents {
	@include clearfix();
	overflow:hidden;
	text-align:justify;
	font-size:0;
	white-space:nowrap;
	margin:0 -4.666px;
	@include bp($s3) {
		margin:0 -8px;
	}
	&:after {
		content:'';
		min-height: 1px;
		display: inline-block;
		width:100%;
	}
}
	.relatedtorrents__item {
		font-size: 14px;
		padding:0 .333em;
		overflow:hidden;
		white-space: normal;

		@include bp($s3) {
			font-size: 16px;
			padding:0 .5em;
		}

		display: inline-block;
		
		width:50%;
		@include bp($s1){
			width:33.333%;
		}
		@include bp($s2){
			width:25%;
		}
		@include bp($s3){
			width:20%;
		}		
		


	}

		.relatedtorrents__figure {
			text-align:center;
			margin:0 0;
			padding:0 0;

					
			.figwrap {
				overflow:hidden;
				position:relative;
				display: block;
				&:after {
					position:absolute;
					display: block;
					content:'';
					left:0;top:0;
					width:100%;
					height: 100%;
					background-color:rgba($almostblack,.85);
					opacity: 0;
					visibility: hidden;
					transition: all .2s ease;
				}	
			
				&:hover, &:focus {
					&:after {
						opacity: 1;
						visibility: visible;
					}
					.relatedtorrents__actions {
						top:50%;
						transform:translateY(-50%);
						opacity: 1;
					}
				}
			}

			img {
				display: block;
				border:.25em solid $picsborder;
			}


		}

		.relatedtorrents__actions {
			z-index: 1;
			font-size: .666em;
			position:absolute;
			left:0;right:0;
			top:150%;
			transform:translateY(0);
			padding:0 1em;
			opacity:0;
			transition: opacity 0 ease .2s;
			.btn {
				margin:.333em;
			}
		}
		.relatedtorrents__title {
			text-align: left;
			color:#fff;
			font-size: 1em;
			line-height: 1;
			margin:1.125em 0 0;
			a {
				color:inherit
			}
			overflow: hidden;
			white-space: nowrap;
    	text-overflow: ellipsis;

		}

		.relatedtorrents__name {
			text-align: left;
			font-size: .688em;
			line-height: 1.2;
			font-weight: 400;
			margin:.333em 0 0;
			overflow: hidden;
			white-space: nowrap;
    	text-overflow: ellipsis;
		}