.pagination {
	@include clearfix();
	margin:2em 0;
}
.pagination--top {
	
}
.pagination--bottom {

}
.resultsno {
  text-align: right;
	font-weight: 300;
	padding:.5em 0 .25em;
  margin-bottom:.5em;

  @include bp($s2) {
    float:left;
    text-align: left;
    margin:0;
  }
}
.nav--pagelist {
  @include clearfix();
  float:right;
  clear: right;
  
  @include bp($s2) {
    clear:none;
    float:right;
  }

	ul {
		margin:0;
		padding:0;
		list-style-type: none;
	}
	li {
		display: block;
    float:left;
    margin-left:.5em;

	}
	a {
		display: block;
		color:  #fff;
		font-size: 1em; 
		font-weight: 700;
		line-height: 1;
		padding:.5em .6em .25em;
		text-align: center;
		border-radius: 2px;
		border:1px solid $gray;
		&.active, &:hover, &:focus {
			background-color: $highlight;
			border-color:$highlight;
		}	
	}
}





.torrenttable {
  display: table;
  width: 100%;
  //border-collapse: separate; /* Or do nothing, this is default */
  border-collapse: collapse;
}

.torrenttable__header {
  display: table-row;
  background-color: $almostblack;
  border: 1px solid $tertdark;

  text-align: center;
  > div {
  	font-size: .875em;
    display: table-cell;
    padding: 1em .5em;
    white-space: nowrap;
  }
}





.sortarrows {
	display: inline-block;
	position: relative;
	//margin-left: .125em;
	height:1em;
	width:1em;
	font-size: .666em;
	.arrow {
		position: absolute;
		display: block;
		width:0;
		height:0;
		//background-color: #fff;
		&.active, &:hover, &:focus {
			
			//background-color: $highlight;
		}
	}

	.arrow--up {
		top:-1px;
		
		border-bottom:.5em solid $prilight;
		border-right:.5em solid transparent;
		border-left:.5em solid transparent;
		&.active, &:hover, &:focus {
			border-bottom:.5em solid currentColor;
		}
	}
	.arrow--down {
		bottom:0px;
		border-top:.5em solid $prilight;
		border-right:.5em solid transparent;
		border-left:.5em solid transparent;
		&.active, &:hover, &:focus {
			border-top:.5em solid currentColor;
		}
	}
}	



.torrentrow {
  display: table-row;

  border: 1px solid $tertdark;
  //position: relative;
  &:hover {
    background-color: $secdark;
    // .torrentrow__maincat {
    //   border-left: 1px solid $highlight;
    // }
    .linewrapper:after {
      background-color: $highlight;
    }
  }
}

.torrentrow__maincat,
.torrentrow__title,
.torrentrow__size,
.torrentrow__seed,
.torrentrow__leech,
.torrentrow__dl {
  font-weight: 700;
  line-height: 1;

  display: table-cell;

  padding: .5em .5em;

  text-align: center;
  vertical-align: middle;

  color: $prilight;
  //border: 1px solid $tertdark;
  box-sizing:content-box;
}


.torrentrow__maincat {
  

  border-right: 1px solid $tertdark;

  width: 4em;
  padding: 0;

  vertical-align: middle;

  background-color: $secdark;
  
  /* kis piros vonalka baloldalt */
  .linewrapper {
    position: relative;
    display: block;
    height: 100%;

    &:after {

      position: absolute;
      top: 0em;
      bottom: 0em;
      left: -1px;

      display: block;

      width: 2px;

      content: '';

      background-color: transparent;
    }


  }

  a {
    position: relative;
    
    font-size: .875em;
    font-weight: 400;
    line-height: 4.5;

    display: block;
		width: 4.5em;
    height: 4.5em;
    //height: 100%;
    //background-color: red;

    text-transform: uppercase;
    &:before {
      position: absolute;
      top: 1em;
      left: 1.5em;

      display: block;

      width: 1.666em;
      height: 2.5em;

      content: '';

      border-top: 3px solid $tertdark;
      border-bottom: 3px solid $tertdark;
    }
  }
}


.torrentrow__title {
  padding: .5em .5em;

  text-align: left;

  color: #fff;
  //border-right: none;

  @include bp($s1) {
    padding: 1em 1em;
  }
  @include bp($s2) {
    max-width: 22em;
    padding: 1.125em 2em .875em 2em;
  }
  .torrentrow__title__name {
    font-weight: 700;

    display: block;

    @include bp($s2) {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
    a {
      // display: block;
      // max-width: 30em;
      // overflow: hidden; 
      // text-overflow: ellipsis;
      // white-space: nowrap;
      color: #fff;
    }
  }
  .torrentrow__title__subcat {
    font-family: $arial;
    font-size: .75em;
    font-weight: 400;
    font-style: italic;

    display: block;

    margin-top: .25em;

    color: $prilight;
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: $highlight;
      }
    }
  }
}

.torrentrow__size {
  //border-right: none;
  //border-left: none;

  @include bp($s2) {
    white-space: nowrap;
  }
}
.torrentrow__seed {
  //border-right: none;
  //border-left: none;
}
.torrentrow__leech {
  //border-right: none;
  //border-left: none;
}
.torrentrow__dl {
  min-width: 3em;

  //border-left: none;
  .dlicon {
    width: .875em;
  }
}
